*, *::after, *::before {
    box-sizing: border-box;
  }

.jumbotron{
    
    color: gold;
    text-align: center;
    background-image: url(https://image.shutterstock.com/image-vector/silhouettes-two-young-women-talking-260nw-154241015.jpg); background-size: 100%;
    
    
}

.display-4 {
    font-size: 100px;
    font-weight: bold;
}

.lead{
    font-size: 50px;
}

h2 {
    text-align: center;
}




  
  .modal {
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    height: 500px;
  }
  
  .modal.active {
    transform: translate(-70%, -70%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    
    
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-header {
      text-align: center;
  }

  .form-control {
    width: 450px;
    padding: 10px;
    margin: 10px;
    
  }

  .modal-body .add-friend {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    right: 200px;
    cursor: pointer;
    background-color: lightblue;
    color: white;
  }

  .friends {
    perspective: 1000px;
    position: relative;
    height: 300px;
    width: 1000px;
    max-width: 100%;
}

.inner-friend {
  box-shadow: 0, 1px 10px rgba(0,0,0,0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  

}

 #friends-container .friend {
  font-weight: bold;
  color: blue;
  text-align: center;
  margin: 20px;
  
}


